* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
   padding-left: 64px;
  padding-right: 64px;
  background: #f9f5ff; 
} */
header {
  padding-left: 192px;
  padding-right: 192px;
  background: #f9f5ff;
}
/* header navbar section(first section-first part) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.company-logo {
  font-size: 36px;
}

.searchbar {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  border: 1px solid grey;
  width: 320px;
  height: 30px;
  border-radius: 10%;
  font-family: "Montserrat";
  font-style: normal;
  padding: 24px;
  border-radius: 40%;
}
.navbar-shape-container {
  display: flex;
  gap: 16px;
}
.navbar-icons {
  height: 24px;
  width: 24px;
}

/* header categories section(first section-second part) */
.categories {
  height: 56px;
  display: flex;
  gap: 96px;
  align-items: center;
}
.categories span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  /* or 19px */
  font-size: 16px;
  line-height: 120%;
  /* Secondary/900 */
  color: #440e87;
}

/*Banner section (second section) */
.photo {
  width: 1032px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;

  background: url(images/natureImage.webp);
  border-radius: 12px;
}

.shapes {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}
.shapeRec {
  height: 10px;
  width: 15px;
  background: #e95850;
  border-radius: 100px;
}
.shapeCir {
  height: 10px;
  width: 10px;
  background: #fdc8c5;
  border-radius: 50%;
}
.bannerParent {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* our products (third section) */
.ourProducts-container {
  background-color: #fff5f5;
  height: 291px;
}
.ourProducts-container h1 {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 32px;
}
.ourProducts-image-text-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 32px;
}
.ourProduct-image {
  height: 124px;
  width: 124px;
  /* background-size: cover; */
  border-radius: 50%;
}
.ourProduct-image1 {
  background: url(images/circleImage1.jpg);
  background-size: cover;
}
.ourProduct-image2 {
  background: url(images/circleImage2.jpg);
  background-size: cover;
}
.ourProduct-image3 {
  background: url(images/circleImage3.jpg);
  background-size: cover;
}

/*  Decorations For(fourth section)  */
.decorationsFor-container {
  padding-left: 192px;
  padding-right: 192px;
  background-color: #fff5f5;
}
.decorationsFor-container h1 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.decorationsFor-container-images {
  display: grid;
  grid-template-columns: 418px 418px 1fr;
  grid-template-rows: 282px 193px 193px 282px;
  grid-gap: 15px;
  grid-template-areas:
    "image1 image2 ."
    "image3 image2 ."
    "image3 image4 view"
    "image5 image6 .";
}
.decorationsFor-container-image {
  border-radius: 12px;
}

.decorationsFor-container-image1 {
  grid-area: image1;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}

.decorationsFor-container-image2 {
  grid-area: image2;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}
.decorationsFor-container-image3 {
  grid-area: image3;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}
.decorationsFor-container-image4 {
  grid-area: image4;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}
.decorationsFor-container-image5 {
  grid-area: image5;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}
.decorationsFor-container-image6 {
  grid-area: image6;
  background: url("images/circleImage1.jpg");
  background-size: cover;
}
.decorationsFor-container-images button {
  background-color: #e95850;
  color: #ffffff;
  height: 48px;
  width: 119px;
  border: none;
  border-radius: 100px;
  grid-area: view;
}

/* fifth section(Best sellers) */

.bestSellers-container {
  background-color: #fff5f5;
  height: 635px;
  padding-left: 192px;
  padding-right: 192px;
}
.bestSellers-container h1 {
  text-align: center;
  padding-top: 16px;
  margin-bottom: 32px;
}
.bestSellers-image-text-container {
  display: flex;
  /* align-items: center; */
  gap: 32px;
}
.bestSellers-image {
  height: 299px;
  width: 243px;
  /* background-size: cover; */
  border-radius: 16px;
}
.bestSellers-image1 {
  background: url(images/circleImage1.jpg);
  background-size: cover;
}
.bestSellers-image2 {
  background: url(images/circleImage2.jpg);
  background-size: cover;
}
.bestSellers-image3 {
  background: url(images/circleImage3.jpg);
  background-size: cover;
}
.bestSellers-image4 {
  background: url(images/circleImage4.jpg);
  background-size: cover;
}

/* .navbar span {
  line-height: 16px;   
  font-size: 16px;
} */

/* why this part is also targeting the indirect child elements (in descendant selector)  ERROR*/
/* .searchIcon {
  height: 32px;
  width: 32px;
}
.heartIcon {
  height: 32px;
  width: 32px;
}
.cartIcon {
  height: 32px;
  width: 32px;
}
.userIcon {
  height: 32px;
  width: 32px;
} */
